{% extends "pc/admin/home.html" %}

{% block title %}业务员考核统计{% endblock title %}

{% block css %}
<style type="text/css">
.modal-content {
    border-radius: 1px;
}
.modal-body{
    padding-bottom: 0;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('#date_search').datetimepicker({
        format: 'yyyy-mm',
        language: 'zh-CN',
        minView: 3,
        startView: 3,
        autoclose: true
    });

    var search = function(){
        ajaxSend(
            "/admin/performance/get_performance_data", 
            {'date': $('#date_search').val()},
            function(data){
                var dataTemplate = _.template([
                    '<% _.each(records, function(record, num){ %>',
                    '<tr>',
                        '<td><%= num+1 %></td>',
                        '<td><a href="/admin/shop?salesman=<%= record.name %>" target="_blank"><%= record.name %></a></td>',
                        '<td><%= record.this_month_count %></td>',
                        '<td><%= record.last_month_count %></td>',
                        '<td><%= record.all_count %></td>',
                        '<td><%= record.lost_count %></td>',
                        '<td class="co-ea232a"><%= record.this_month_count ? $.Global.Utils.formatPrice(record.lost_count/record.this_month_count*100)+"%" : "-" %></td>',
                        '<td><%= $.Global.Utils.formatPrice(record.average_trade) %></td>',
                        '<td><%= $.Global.Utils.formatPrice(record.average_trade_of_month) %></td>',
                        '<td><%= $.Global.Utils.formatPrice(record.total) %></td>',
                        '<td><a class="pointer" data-owner="<%= record.name %>">查看开户奖励</a></td>',
                    '</tr>',
                    '<% }) %>'
                ].join(''));
                $('.table tbody').html(dataTemplate({'records': data.data}));

                $('.all_new').text(data.all_new);
                $('.all_lost').text(data.all_lost);
                $('.all_lost_rate').text($.Global.Utils.formatPrice(data.all_lost_rate));
            }
        );
    };

    $('.search').on('click', function(){
        search();
    });

    $('.pointer').live('click', function(){
        var owner = $(this).data('owner');
        ajaxSend(
            "/admin/performance/get_new_shop_of_current_month", 
            {'date': $('#date_search').val(), 'owner': owner},
            function(data){
                var html = [
                '<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog">',
                    '<div class="modal-dialog">',
                        '<div class="modal-content">',
                            '<div class="modal-header pb-5">',
                                '<h4 class="modal-title">新开单日流水</h4>',
                            '</div>',
                        '<div class="modal-body">',
                            '<table class="table table-hover">',
                                '<thead>',
                                    '<tr>',
                                        '<th>#</th>',
                                        '<th>商户</th>',
                                        '<th>通过日期</th>',
                                        '<th>平均日流水</th>',
                                        '<th>奖励金额</th>',
                                    '</tr>',
                                '</thead>',
                                '<tbody>',

                                '</tbody>',
                            '</table>',
                        '</div>',
                        '<div class="modal-footer">',
                            '<div>总开户奖励 <span class="all-reward co-4091fc fb f16">0</span> 元</div>',
                        '</div>',
                    '</div>',
                '</div>'
                ].join('');

                $('#detail_modal').remove();

                $("body").append(html);

                // 填充数据
                $.map(data.data, function(per, i){
                    $('#detail_modal tbody').append(
                        String.format([
                            '<tr>',
                                '<td>{0}</td>',
                                '<td><a href="/admin/per_shop/{1}/" target="_blank">{2}</a></td>',
                                '<td>{3}</td>',
                                '<td>{4}</td>',
                                '<td class="co-4091fc">{5}</td>',
                            '</tr>'
                        ].join(''), 
                        i+1, 
                        per.shop_id, 
                        per.name, 
                        per.pass_date,
                        $.Global.Utils.formatPrice(per.average_trade),
                        $.Global.Utils.formatPrice(per.reward))
                    );
                });

                $('#detail_modal').modal({'show': true});
                $('.all-reward').text(data.all_reward);
            }
        );
    });

    search();
});
</script>
{% endblock %}

{% block admin_main %}
<div class="row pt-70">
    <div class="col-md-12 f25 text-center pt-20 pb-0">业务员考核统计</div>
    <div class="col-md-12 pt-20">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">日期</span>
                <input type="text" class="form-control" id="date_search" value="{{date}}"  />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>业务员</th>
                    <th>当月开单</th>
                    <th>上月开单</th>
                    <th>总开单</th>
                    <th>流失单</th>
                    <th>流失率</th>
                    <th>预估新增日流水</th>
                    <th>预估新增月流水</th>
                    <th>实际总流水</th>
                    <th>开户奖励统计</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-right pb-20">
        当月总共新开<span class="co-4091fc fb f16 pl-5 pr-5 all_new">0</span>单，
        当月总共流失<span class="co-4091fc fb f16 pl-5 pr-5 all_lost">0</span>单，
        总流失率<span class="co-4091fc fb f16 pl-5 pr-5 all_lost_rate">0</span>%
    </div>
</div>
{% endblock %}