{% extends "pc/base/base_home.html" %}

{% block title %}联谊会与合作{% endblock %}

{% block css %}
<style type="text/css">
body{
    background-color: #eeeeee;
}
p{margin: 0;}
.short-line{
    width: 100px;
    background-color: #b86f71;
    height: 3px;
    display: inline-block;
}
.point{
    width: 5px;
    height: 5px;
    background-color: #b86f71;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
}
.name-ul>li{
    width: 19%;
    padding-bottom: 5px;
}
.cooperation-bg{
    width: 160%;
    margin-left: -60%;
    margin-top: 22%;
    z-index: 0;
    position: relative;
}
.process-ul>li{
    text-align: center;
    width: 19%;
    padding-bottom: 5px;
}
.process{
    width: 155px;
    float: right;
    padding-top: 5px;
}
.more-1{
    position: absolute;
    background-color: #b86f71;
    font-size: 12px;
    color: #eee;
    padding: 0px 6px;
    border-radius: 7px;
    left: -75px;
    bottom: 0;
}
</style>
{% endblock %}

{% block container %}
<div class="container">
    <div class="row co-959595">
        <!-- 联谊会 -->
        <div class="col-md-12 col-xs-12 text-center co-959595 pt-40 f18 letter-spacing-1 bgc-ffffff">
            联谊会介绍
        </div>
        <div class="col-md-12 col-xs-12 text-center co-959595 pt-5 f16 bgc-ffffff">
            Association Profile
        </div>
        <div class="col-md-12 col-xs-12 pl-0 pr-0 text-center pt-10 bgc-ffffff">
            <span class="short-line"></span>
            <div class="col-md-12 col-xs-12 text-center border-bottom-1 bdc-959595"></div>
        </div>

        <div class="col-md-12 col-xs-12 bgc-ffffff pr-0">
            <div class="col-md-6 col-xs-6 f12 pl-40 pr-40">
                <div class="col-md-12 col-xs-12 pt-30 pl-0 pr-0 border-bottom-1 bdc-959595 pb-5 f14">
                    联谊会简介 | <span class="co-b86f71">Association profile</span>
                </div>
                <div class="col-md-12 col-xs-12 pt-20 pl-0 pr-0 co-b86f71">
                    <span class="point"></span>平山县西柏坡儿女联谊会
                </div>
                <div class="col-md-12 col-xs-12 pt-5 pb-20 pl-0 pr-0 letter-spacing-1 border-bottom-1 bdc-dddddd">
                    平山县西柏坡儿女联谊会是由红军后代发起，西柏坡儿女自愿结成的地方性非盈利性革命后代联谊组织。联谊会明确把“西柏坡儿女”定位在，老一辈于1949年建国前参加共产党、参加革命的后代们。也就是说“西柏坡儿女”是指在平山生、平山长或者老一辈是在平山老区工作、学习过的革命者，无论是红军、八路军、新四军、解放军和地方干部之后，是领导还是普通战士、职工之后，都是西柏坡儿女，愿意在这个旗帜下一起联谊、合作的都欢迎。
                </div>
                <div class="col-md-12 col-xs-12 pt-20 pl-0 pr-0 co-b86f71">
                    <span class="point"></span>我们的宗旨是:
                </div>
                <div class="col-md-12 col-xs-12 pt-5 pb-20 pl-0 pr-0 letter-spacing-1 border-bottom-1 bdc-dddddd">
                    继承革命传统，弘扬西柏坡精神，讴歌民族正气，帮助家乡发展经济，为老区人民做些力所能及的工作。
                </div>
                <div class="col-md-12 col-xs-12 pt-20 pb-20 pl-0 pr-0 letter-spacing-1 border-bottom-1 bdc-dddddd">
                    <span class="point"></span>联谊会遵守社会道德风尚，遵守国家政策和法律、法规，其一切活动均在中华人民共和国宪法规定的范围内进行。
                </div>
                <div class="col-md-12 col-xs-12 pt-20 pb-20 pl-0 pr-0 letter-spacing-1 border-bottom-1 bdc-dddddd">
                    <span class="point"></span>联谊会接受业务主管单位政协平山县委员会和社团登记管理机关平山县民政局的业务指导和监督管理。
                </div>

                <div class="col-md-12 col-xs-12 pt-50 pl-0 pr-0 border-bottom-1 bdc-959595 pb-5 f14">
                    组织机构常务工作成员 | <span class="co-b86f71">Managing member of organization</span>
                </div>
                <div class="col-md-12 col-xs-12 pl-0 pr-0 pr" style="z-index: 1">
                    <ul class="list-inline name-ul pt-15">
                        <li><span class="point"></span>栗庆瑞</li>
                        <li><span class="point"></span>韩东军</li>
                        <li><span class="point"></span>葛兰玉</li>
                        <li><span class="point"></span>刘峰川</li>
                        <li><span class="point"></span>王庆生</li>
                        <li><span class="point"></span>蒋一兵</li>
                        <li><span class="point"></span>王晓琳</li>
                        <li><span class="point"></span>刘鹏</li>
                    </ul>
                </div>

                <div class="col-md-12 col-xs-12 pt-30 pl-0 pr-0 border-bottom-1 bdc-959595 pb-5 f14">
                    联谊会资质 | <span class="co-b86f71">Association qualification</span>
                </div>
                <div class="col-md-12 col-xs-12 pt-30 pb-30 pl-0 pr-0">
                    <div class="col-md-6 col-xs-6 pl-0">
                        <img class="w100p" style="position: relative; z-index: 1;" src="{{MEDIA_URL}}img/cooperation/lisence-8.jpg">
                    </div>
                    <div class="col-md-6 col-xs-6 pr-0 pt-10">
                        <img class="w100p" style="position: relative; z-index: 1;" src="{{MEDIA_URL}}img/cooperation/lisence-7.jpg">
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-6 pl-0 pr-0">
                <img class="cooperation-bg" src="{{MEDIA_URL}}img/cooperation/cooperation.png">
            </div>
        </div>
        <!-- 联谊会结束 -->

        <!-- 合作结束 -->
        <div class="col-md-12 col-xs-12 text-center co-959595 pt-40 f18 letter-spacing-1">
            合作
        </div>
        <div class="col-md-12 col-xs-12 text-center co-959595 pt-5 f16">
            Cooperation
        </div>
        <div class="col-md-12 col-xs-12 text-center pt-10 pb-30 pl-0 pr-0">
            <span class="short-line"></span>
            <div class="col-md-12 col-xs-12 text-center border-bottom-1 bdc-959595"></div>
        </div>
        <div class="col-md-12 col-xs-12 bgc-ffffff">
            <div class="col-md-6 col-xs-6 f12 pl-40 pr-40">
                <div class="col-md-12 col-xs-12 pt-30 pl-0 pr-0 border-bottom-1 bdc-959595 pb-5 f14">
                    合作案例 | <span class="co-b86f71">Cooperation case</span>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 pt-20">
                <div class="col-md-6 col-xs-6 f12">
                    <div class="col-md-8 col-xs-8 pl-0 pr-15">
                        <div class="col-md-12 col-xs-12">
                            <span class="point"></span>四川安厦建筑工程有限公司
                        </div>
                        <div class="col-md-12 col-xs-12 pt-10 letter-spacing-1">
                            <p class="text-indent-25">四川安厦建筑工程有限公司作为一家中小型民营企业，公司铭记着以习近平总书记为代表的党中央精神：“走得再远、走得再光辉的未来，也不能忘记走过的过去，不能忘记为什么出发。”不忘初心，重走长征路，传承红色革命的三个精神：井冈山精神、延安精神、西柏坡精神，弘扬革命传统，愿意为老区建设添砖加瓦！</p>
                            <p class="text-indent-25">公司在还没有进入联谊会前，就自筹资金组织起优秀的设计团队，积极承担起联谊会——平山第一个党支部纪念碑的设计，为设计出符合具有时代意义的纪念碑，我们重走长征路，先后多次到江西于都、陕西延安、河北平山等地，寻找设计灵感，经过一百多天艰苦奋战，数易其稿，终于拿出了让联谊会领导们满意的设计方案！紧跟着公司又投入到平山县西柏坡儿女联谊会网站建设的工作中。四川安厦建筑工程有限公司作为当代的民营企业，肩负着特殊的历史使命，早就满怀期翼为国家做出自己的贡献，公司通过自身努力得到了联谊会的认可，光荣地加入了联谊会，成为联谊会一员，并被联谊会授予河北平山西柏坡儿女发展基金会(筹)常务理事单位。平山县西柏坡儿女联谊会树起一面旗帜：这面旗帜是继承革命传统、弘扬西柏坡精神、联谊革命后代情谊、讴歌民族正气。打造一个平台：一个传承发扬中华传统文化、中央支持的平台；一个解读实事......</p>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-xs-4 pl-0 pr-20 pr">
                        <img class="w100p" src="{{MEDIA_URL}}img/cooperation/lisence-1.jpg">
                        <img class="w100p pt-10" src="{{MEDIA_URL}}img/cooperation/lisence-2.jpg">
                        <img class="w100p pt-10" src="{{MEDIA_URL}}img/cooperation/lisence-3.jpg" />

                        <a href="/s/cooperation_case_1" class="more-1">更多</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 f12">
                    <div class="col-md-8 col-xs-8 pl-0 pr-15">
                        <div class="col-md-12 col-xs-12">
                            <span class="point"></span>江苏泓业嘉集团有限公司
                        </div>
                        <div class="col-md-12 col-xs-12 pt-10 text-indent-25 letter-spacing-1">
                            江苏泓业嘉集团有限公司是一个多元化经营的集团型企业，法定代表人为陶少清。集团公司下有：江苏振达建筑安装工程有限公司、宜兴怡丰房地产开发有限公司、江苏广瑞商贸有限公司、宜兴市广瑞服饰有限公司，另有关联公司无锡通惠置业有限公司。集团公司已涉足于地产、建筑、贸易等领域，成为多头并进、相生相荣的集团型企业。泓业嘉集团公司注册资本1.18亿元。集团公司采用系统集团化管理模式对所辖各企业及关联公司统一管理。
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 pl-0 pr-20 pr">
                        <img class="w100p" src="{{MEDIA_URL}}img/cooperation/lisence-4.jpg">
                        <img class="w100p pt-15" src="{{MEDIA_URL}}img/cooperation/lisence-5.jpg">
                        <img class="w100p pt-13" src="{{MEDIA_URL}}img/cooperation/lisence-6.jpg" />

                        <a href="/s/cooperation_case_2" class="more-1">更多</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6 f12 pl-40 pr-40 pt-10">
                <div class="col-md-12 col-xs-12 pt-30 pl-0 pr-0 border-bottom-1 bdc-959595 pb-5 f14">
                    合作流程 | <span class="co-b86f71">Cooperation process</span>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 pt-40 pl-25 pr-25">
                <div class="col-md-4 col-xs-4 pr-0 pl-0">
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="w100p" src="{{MEDIA_URL}}img/cooperation/process-1.png">
                        <div class="pt-15 pb-40">联系我们</div>
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="pt-25" src="{{MEDIA_URL}}img/cooperation/process-split.png">
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="w100p pt-15" src="{{MEDIA_URL}}img/cooperation/process-2.png">
                        <div class="pt-15 pb-40">洽谈意向</div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 pr-0 pl-0 pb-20">
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="pt-25" src="{{MEDIA_URL}}img/cooperation/process-split.png">
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="w100p" src="{{MEDIA_URL}}img/cooperation/process-3.png">
                        <div class="pt-15 pb-40">考察调研</div>
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="pt-25" src="{{MEDIA_URL}}img/cooperation/process-split.png">
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 pr-0 pl-0">
                    <div class="col-md-4 col-xs-4 text-center">
                        <img style="width: 80%" src="{{MEDIA_URL}}img/cooperation/process-4.png">
                        <div class="pt-15 pb-40">签订协议</div>
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="pt-25" src="{{MEDIA_URL}}img/cooperation/process-split.png">
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        <img class="w100p" src="{{MEDIA_URL}}img/cooperation/process-5.png">
                        <div class="pt-15 pb-40">启动合作</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 合作结束 -->

        <div class="col-md-12 col-xs-12 pt-30"></div>
    </div>
</div>
{% endblock %}